.container {
    max-width: 600px;
    margin: 80px auto;
    padding: 2rem;
    text-align: center;
    background-color: #f8f9fa;
    border-radius: 8px;
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.05);
  
    h1 {
      font-size: 2rem;
      color: #333;
    }
  
    p {
      margin-top: 1rem;
      margin-bottom: 1rem;
      color: #bd4747;
      font-size: large;
      font-weight: bold;
    }

    img {
        width: 4rem;
        height: 4rem;
        border-radius: 20%;
    }
  }
  
  @media (max-width: 768px) {
  .container {
    padding: 1.5rem;
    img {
      width: 3rem;
      height: 3rem;
    }

    h2 {
      font-size: 1.2rem;
    }
  }
  
}


